@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@700&display=swap');
body {
    font-family: 'Bebas Neue', cursive;
    color: aqua;
    transition: all 0.5s;
}

.title {
    color: #EBD0FB;
}

#ban {
    background-position: center;
    background-size: cover;
}

.notification {
    display: none;
    position: absolute;
    z-index: 999;
    width: 50%;
    top: 5%;
    left: 20%;
    padding: 50px;
}